In [1]:
import pandas as pd

The purpose of this analysis is to compare prices of flats in London

In [7]:
df = pd.read_csv('zooplacouk_londonlistedproperties.csv', on_bad_lines='skip').reset_index()

In [28]:
df.head()

,level_0,level_1,level_2,level_3,listing_link|listing_price_pcm|listing_price_perweek|bedroom|bathroom|livingroom|listing_title|location|nearby_stations|listed|agent|available,temp
0,http://zoopla.co.uk//to-rent/details/55738240/...,058 pcm|£475 pw|1|1|0|1 bed flat to rent|Queen...,London SW7|0.3 miles Gloucester Road,0.4 miles South Kensington|4th jan 2023|Druce...,W8|,"[058 pcm, £475 pw, 1, 1, 0, 1 bed flat to rent..."
1,http://zoopla.co.uk//to-rent/details/63570064/...,297 pcm|£530 pw|2|2|0|2 bed flat to rent|The Pad,Highbury Corner,London N7|0.1 miles Highbury & Islington|4th ...,N1|28th feb 2023,"[297 pcm, £530 pw, 2, 2, 0, 2 bed flat to rent..."
2,http://zoopla.co.uk//to-rent/details/63570050/...,025 pcm|£237 pw|0|1|0|Studio to rent|Oldfield ...,Greenford UB6|0.2 miles Greenford,0.1 miles Greenford|4th jan 2023|Foxtons - We...,HA9|,"[025 pcm, £237 pw, 0, 1, 0, Studio to rent, Ol..."
3,http://zoopla.co.uk//to-rent/details/63570035/...,850 pcm|£427 pw|2|2|0|2 bed flat to rent|Longc...,Edgware HA8|0.9 miles Stanmore,0.2 miles Canons Park|4th jan 2023|Foxtons - ...,HA7|,"[850 pcm, £427 pw, 2, 2, 0, 2 bed flat to rent..."
4,http://zoopla.co.uk//to-rent/details/51126600/...,550 pcm|£358 pw|2|1|0|2 bed flat to rent|Green...,Palmers N13|0.2 miles Palmers Green,0.9 miles Winchmore Hill|4th jan 2023|Anthony...,N13|27th feb 2023,"[550 pcm, £358 pw, 2, 1, 0, 2 bed flat to rent..."

In [23]:
def splitting(string, delimiter='|'):
    return string.split(delimiter)

In [26]:
df['temp'] = df['level_1'].apply(splitting)

In [27]:
df['temp']

0      [058 pcm, £475 pw, 1, 1, 0, 1 bed flat to rent...
1      [297 pcm, £530 pw, 2, 2, 0, 2 bed flat to rent...
2      [025 pcm, £237 pw, 0, 1, 0, Studio to rent, Ol...
3      [850 pcm, £427 pw, 2, 2, 0, 2 bed flat to rent...
4      [550 pcm, £358 pw, 2, 1, 0, 2 bed flat to rent...
                             ...
573    [250 pcm, £288 pw, 1, 1, 0, 1 bed flat to rent...
574    [225 pcm, £975 pw, 2, 1, 0, 2 bed flat to rent...
575    [200 pcm, £508 pw, 1, 1, 0, 1 bed cottage to r...
576    [142 pcm, £725 pw, 2, 1, 0, 2 bed flat to rent...
577    [200 pcm, £277 pw, 1, 1, 0, 1 bed flat to rent...
Name: temp, Length: 578, dtype: object

In [34]:
def parse_rent_pcm(x):
    try:
        return float(x[0].replace(" pcm",""))
    except:
        return None

In [35]:
df['rent_pcm'] = df['temp'].apply(lambda x:parse_rent_pcm(x))

In [38]:
def parse_rent_pw(x):
    try:
        stripped_text = x[1].replace(" pw","").replace("£","")
        return float(stripped_text)
    except:
        return None

In [39]:
df['rent_pw'] = df['temp'].apply(lambda x:parse_rent_pw(x))

In [44]:
def parse_room_nu(x,idx):
    try:
        stripped_text = x[idx]
        return int(stripped_text)
    except:
        return None

In [45]:
df['bedroom'] = df['temp'].apply(lambda x:parse_room_nu(x,2))

In [46]:
df['bathroom'] = df['temp'].apply(lambda x:parse_room_nu(x,3))

In [47]:
df['living_room'] = df['temp'].apply(lambda x:parse_room_nu(x,4))

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485 entries, 0 to 577
Data columns (total 11 columns):
 #   Column                                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                                          --------------  -----
 0   level_0                                                                                                                                         485 non-null    object
 1   level_1                                                                                                                                         485 non-null    object
 2   level_2                                                                                                                                         485 non-null    object
 3   level_3                                                                                                                                         485 non-null    object
 4   listing_link|listing_price_pcm|listing_price_perweek|bedroom|bathroom|livingroom|listing_title|location|nearby_stations|listed|agent|available  485 non-null    object
 5   temp                                                                                                                                            485 non-null    object
 6   rent_pcm                                                                                                                                        485 non-null    float64
 7   rent_pw                                                                                                                                         485 non-null    float64
 8   bedroom                                                                                                                                         485 non-null    float64
 9   bathroom                                                                                                                                        485 non-null    float64
 10  living_room                                                                                                                                     485 non-null    float64
dtypes: float64(5), object(6)
memory usage: 45.5+ KB

In [50]:
# dropping missing values
df=df.dropna()

In [52]:
df.columns

Index(['level_0', 'level_1', 'level_2', 'level_3',
       'listing_link|listing_price_pcm|listing_price_perweek|bedroom|bathroom|livingroom|listing_title|location|nearby_stations|listed|agent|available',
       'temp', 'rent_pcm', 'rent_pw', 'bedroom', 'bathroom', 'living_room'],
      dtype='object')

In [54]:
df.groupby(by='bedroom').mean()

C:\Users\agasm\AppData\Local\Temp\ipykernel_25460\1311774801.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by='bedroom').mean()

           rent_pcm     rent_pw  bathroom  living_room
bedroom
0.0      315.666667  353.000000  0.880952          0.0
1.0      434.510870  442.657609  0.978261          0.0
2.0      480.217143  536.754286  1.394286          0.0
3.0      493.424242  589.378788  1.500000          0.0
4.0      481.923077  626.153846  1.769231          0.0
5.0      449.000000  703.600000  2.200000          0.0

In [72]:
def filter_by_station(df, station_name):
    return df[df['level_1'].str.contains(station_name)| (df['level_2'].str.contains(station_name)) ]

In [76]:
filter_by_station(df, "Finsbury Park")['rent_pw'].mean()

409.0